.investimentCard {
  border-radius: 6px;
  background-color: #02231c;
  min-width: 200px;
  padding: 10px;
  margin: 5px;
}

.investimentCard h2,
p,
.div-buttons {
  background-color: inherit;
  margin-bottom: 5px;
  max-width: 100%;
  color: #f2f2ec;
}

.div-buttons button {
  width: 40%;
  background-color: #00fd8f;
  color: #02231c;
  border-radius: 5px;
  border: none;
  margin-right: 5px;
  cursor: pointer;
}

.div-buttons a {
  background-color: inherit;
}

.investimentCard-title{
  background-color: inherit;
  display: flex;
  justify-content: space-between;
}

.investimentCard-title button{
  background-color: #00fd8f;
  color: #02231c;
  border: none;
  width: 20%;
  border-radius: 10px;
  cursor: pointer;
}

button:hover{
  background-color: #0dad68;
}