.investimentCard {
  border-radius: 6px;
  background-color: #ffffff;
  min-width: 200px;
  padding: 10px;
  margin: 5px;
}

.investimentCard h2,
p,
.div-buttons {
  background-color: inherit;
  margin-bottom: 5px;
  max-width: 100%;
}

.div-buttons button {
  width: 40%;
  background-color: grey;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.div-buttons a {
  background-color: inherit;
}
