.investimentCard{
    border-radius: 6px;
    background-color: #ffffff;
    min-width: 200px;
    padding: 10px; 
    margin: 5px;
}

.investimentCard h2, p{
    background-color: inherit;
    margin-bottom: 5px;
    max-width: 100%;
}

.investimentCard button{
    background-color: inherit;
    margin-bottom: 5px;
    max-width: 100%;
}
