.aporteModal {
  position: fixed;
  background: #02231c;
  width: 40%;
  min-width: 250px;
  height: 40%;
  border-radius: 10px;
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
  margin-top: 10%;
  padding: 10px;
}

.aporteModal h1,
.aporteModal button {
  color: #00fd8f;
  background-color: inherit;
}
