.aporteModal {
  position: fixed;
  background: #02231c;
  width: 30%;
  min-width: 300px;
  border-radius: 10px;
  margin-top: 10%;
  padding: 10px;
}

.button-aport-modal {
  background-color: #00fd8f;
  color: #02231c;    
  border-radius: 5px;
  padding: 5px;
  width: 22%;
  margin: 15px 10px 0px 0px;
  border: none;
  cursor: pointer;  
}

.h1-modal-aporte{  
  font-size: 20px;
  color: #f2f2ec;
  background-color: inherit;
  margin-bottom: 10px;
}
