.modal{
    background: white;
    position: absolute;
    width: 30%;
    height: 60%;
    margin: 150px 500px;   
    border-radius: 10px;
    border: none;
}

.modal h1, .modal h3, .modal button{
    color: black;
    background-color: inherit;
}
