.container h1 {
  margin-top: 5%;
  color: #f2f2ec;
}

.investimentForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 100%;
}

.investimentForm input, 
.investimentForm select {
  min-width: 25%;
  padding: 12px;
  background: #02231c;
  margin: 8px 8px;

  border: none;

  font-size: 16px;
  color: #f2f2ec;

  outline: none;
}

.investimentForm select option {
	background: #02231c;
  background-color: #02231c;
	color: #f2f2ec;
}

.investimentForm button {
  width: 140px;
  padding: 8px;
  background: #00fd8f;
  background-color: #00fd8f;
  font-size: 16px;
  font-weight: 700;
  color: #02231c;

  border-radius: 5px;
  margin: 8px;
  border: none;

  cursor: pointer;
  transition: filter 0.2s;
}
