.container h1{  
    margin-top: 5%;
}

.investimentForm{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 100%;
}

.investimentForm input{
    min-width: 25%;
    padding: 12px;    
    background: #000a41;        
    margin: 8px 8px;

    border: none;

    font-size: 16px;      
    color: #d6d6d6; 
}

.investimentForm button{    
    width: 140px;        
    padding: 8px;
    background: #000a41;
    background-color: #000a41;
    font-size: 16px;
    font-weight: 700;
    color: #d6d6d6;
    
    border-radius: 5px;
    margin: 8px;
    border: 1px solid #d6d6d6;

    cursor: pointer;
    transition: filter 0.2s;
}