.AportCard {
    border-radius: 6px;
    background-color: #02231c;
    width: 90%;
    padding: 10px;
    border: 1px solid #f2f2ec;
  }
  
  .AportCard h2{
    background-color: inherit;
    margin-bottom: 5px;
    max-width: 100%;
    color: #f2f2ec;
  }