.AportCardClosed {
  border-radius: 6px;
  background-color: #02231c;
  width: 100%;
  height: 50px;
  padding: 10px;
  border: 1px solid #a3a3a3;
  display: flex;
  justify-content: space-between;
}

.AportCardOpenned{
  border-radius: 6px;
  background-color: #02231c;
  width: 100%;
  height: 150px;
  padding: 10px;
  border: 1px solid #a3a3a3;
  display: flex;
  flex-direction: column;
}

.input-aport-card{
  background-color: #02231c;
  color: #f2f2ec;
}

.input-aport-card label{
  background-color: #02231c;
  font-size: 16px;
}

.input-aport-card input{
  background-color: #02231c;
  height: 20px;
  border-radius: 5px;
  border: none;
  color: #f2f2ec;
}

.AportCardClosed h2 {
  background-color: inherit;
  margin: 5px 0px 5px;
  max-width: 100%;
  font-size: 16px;
  color: #f2f2ec;
}

.AportCardClosed p {
  background-color: inherit;
  margin: 5px 0px 5px;
  color: #a3a3a3;
}

.div-icons-aport {
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 38%;
}

.div-icons-aport i {
  background-color: #00fd8f;
  border-radius: 5px;
  color: #02231c;
  margin: 5px 5px 5px;
  font-size: 20px;
  padding: 5px;
  text-align: center;  
  min-width: 30px;
  height: 30px;
  cursor: pointer;
}

.div-icons-aport i:hover {
  background-color: #0dad68;
}
