.modal {
  background: #02231c;
  width: 230px;
  height: 20%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid red;
}

.modal h2 {
  color: #f2f2ec;
  background-color: inherit;
  border-radius: 10px;
  text-align: center;
}

.div-delete-buttons {
  background-color: inherit;
  max-width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;  
}

.div-delete-buttons button {
  min-width: 30%;
  background-color: #00fd8f;
  color: #02231c;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
  border: none;
}

.div-delete-buttons button:hover {
  background-color: #0dad68;
}
