.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;  
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%; 
}

.h1-home {
  margin: 150px 0 12px;
  font-size: 50px;
  color: #f2f2ec;
}



