.navBar{
    background-color: #3700CF;
    width: 100%;    
    padding: 1%;
    color: #ffffff;
}

.navBar div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: inherit;
    list-style: none;
}

.navBar h3{
    background-color: inherit;    
}

.navBar i{
    background-color: inherit;  
    color: #ffffff;  
    width: 2%;
}

.nav-link {
    background-color: inherit; 
}
