.navBar{
    background-color: #02231c;
    width: 100%;        
    height: 55px;
    padding: 1%;
    color: #f2f2ec;
}

.navBar div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: inherit;
    list-style: none;
    margin: 0 0.5%;
}

.navBar h3{
    background-color: inherit;    
}

.navBar i{
    background-color: inherit;  
    color: #00fd8f;  
    width: 2%;
}

.nav-link {
    background-color: inherit; 
}

.nav-link-button{
    background-color: inherit;    
}

.navBar button{
    background-color: #00fd8f;  
    color: #02231c;  
    border-radius: 5px;
    padding: 8%;
    
    height: 100%;

    font-size: 16px;
    font-weight: 700;
    
    border: none;

    cursor: pointer;
    transition: filter 0.2s;
}