.login-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 50%;
}

.login-container h1{
    margin: 100px 0 12px; 
    font-size: 50px;   
    color: #00fd8f;
}

.login-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 100%;
}


.login-form input{
    min-width: 25%;
    padding: 12px;    
    background: #02231c;        
    margin: 8px 8px;

    border: none;

    font-size: 16px;      
    color: #f2f2ec;    
    
    outline: none;
}

.login-form input::placeholder{
    color: #f2f2ec;
}

.login-form button{    
    width: 140px;        
    padding: 8px;
    background: #00fd8f;
    background-color: #00fd8f;
    font-size: 16px;
    font-weight: 700;
    color: #02231c;
    
    border-radius: 5px;
    margin: 8px;
    border: 1px solid #02231c;

    cursor: pointer;
    transition: filter 0.2s;
}

.login-form button:hover{
    filter: brightness(1);
}

.login-form button a{
    color: currentColor;
    background: inherit;
    text-decoration: none;
}